/* globals.css */
:root{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
