@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-size: 62.5%;
}

$grid-size: 4rem;
$line-width: .1rem;
$line-color: #ccc3;

$insight-50: #FAD1E3;
$insight-100: #F7B0D0;
$insight-200: #F490BC;
$insight-300: #F16FA9;
$insight-400: #ED4F95;
$insight-500: #EA2E82;
$insight-600: #DF166F;
$insight-700: #BE135F;
$insight-800: #9E104F;
$insight-900: #222;
$insight-950: #111;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba($color: #999, $alpha: 1);
  font-family: 'Poppins';
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $insight-950;
  font-size: 1.1rem;
}

.container {
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $insight-950;
  backdrop-filter: blur(9rem);
  width: 80%;
  height: 60rem;
  border: .1rem solid $line-color;
  border-radius: 2rem;
  gap: 2rem;
  box-shadow:
    .1rem .1rem 5rem #0007,
    .1rem .1rem 2rem #0007;
  
  .image-profile {
    display: flex;
    width: 13rem;
    height: 13rem;
    position: relative;
    border-radius: 50%;
    border: .1rem solid $line-color;
    box-shadow: .1rem .1rem 3rem rgba(130, 220, 223, 0.6);
    animation: upping 2.75s ease-in-out infinite;
    
    img {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
  }
  
  .info-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    border-radius: 1rem;
    gap: .5rem;
    
    h1 {
      color: rgba($color: #ddd, $alpha: 1);
    }
    
    
    .tags-profile {
      display: flex;
      gap: .5rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
      .tag {
        
        $insight-500: #d9cf6c;
        
        padding: .25rem .75rem;
        border-radius: 3rem;
        background: rgba($color: $insight-500, $alpha: .2);
        border: .1rem solid rgba($color: $insight-500, $alpha: .7);
        color: rgba($color: $insight-500, $alpha: 1);
        
        svg {
          width: 1.6rem;
          stroke: $insight-500;
        }
        
        &:nth-child(2) {
          $insight-500: rgb(144, 140, 221);
          background: rgba($color: $insight-500, $alpha: .2);
          border: .1rem solid rgba($color: $insight-500, $alpha: .7);
          color: rgba($color: $insight-500, $alpha: 1);
          
          svg {
            width: 1.6rem;
            stroke: $insight-500;
          }
        }
        
        &:nth-child(3) {
          $insight-500: rgb(160, 221, 140);
          background: rgba($color: $insight-500, $alpha: .2);
          border: .1rem solid rgba($color: $insight-500, $alpha: .7);
          color: rgba($color: $insight-500, $alpha: 1);
          
          svg {
            width: 1.6rem;
            stroke: $insight-500;
          }
        }
      }
    }
    
    p {
      color: rgba($color: #999, $alpha: 1);
      text-align: center;
      padding: 0 2rem;
      font-size: 1.6rem;
      span {
        color: #d17c7c;
      }
    }
  }
  
}

#back-square {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: $insight-950;
  background-image:
    linear-gradient(to right, $line-color $line-width, transparent $line-width),
    linear-gradient(to bottom, $line-color $line-width, transparent $line-width);
  background-size: $grid-size $grid-size;
  animation: moveBg 10s linear infinite;
  z-index: -9999;
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }
  
  100% {
    background-position: 100% 0;
  }
}

.tag.no-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-shadow: .1rem .1rem 1rem currentColor;
  gap: .5rem;
}

@keyframes upping {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(1rem);
  }
  
  100% {
    transform: translateY(0);
  }
}

#git-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-weight: 800;
  color: rgba($color: #ddd, $alpha: 1.0);
  padding: 1rem;
  border-radius: 50%;
  // border: .1rem solid rgba($color: #ddd, $alpha: .3);
  text-shadow:
    .1rem .1rem 1rem currentColor,
    .1rem .1rem 5rem currentColor,
    .1rem .1rem 3rem currentColor,
  ;
  animation: upping 2.5s ease-in-out infinite;
  
  
  &:nth-child(2) {
    top: -25%;
    left: 29%;
    color: #2df62d;
    animation-delay: .5s;
  }
  
  &:nth-child(3) {
    bottom: -10%;
    left: -20%;
    color: yellow;
    animation-delay: .75s;
  }
  
  &:nth-child(4) {
    bottom: -10%;
    right: -20%;
    color: red;
    animation-delay: 1s;
  }
  
  &:nth-child(5) {
    top: -50%;
    right: 15%;
    color: #c0c0c0;
  }
}

@media (min-width: 76.5rem) {
  .container {
    width: 80%;
  }
}
@media (min-width: 80rem) {
  .container {
    width: 70rem;
  }
}
